@import '../scss/navbar';


.header-container {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    
    img {
        width: 100%;
        height: 70vh ;
    }

    .case-study{
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .p-wrapper:first-child {
            width: 33%;
            
            p{
                width: 100%;
            }
        }

        .p-wrapper:nth-child(2) {
            width: 33%;
            display: flex;
            flex-direction: column;
            align-items: center; 
            p{
                margin-left: 40px;
                width:30%;
            }
        }

        .p-wrapper:last-child {
            width: 33%;
            direction: rtl;
            display: flex;
            flex-direction: column;
            align-items: flex-start; 
        }
        
    }
}

.section-overview {
    box-sizing: border-box;
    height: 100vh;
    h1{
        font-size: 128px;
        font-family: 'poppins';
        font-style: 'semiBold';
        font-size: 128px;
        line-height: 100px;
        line-height: 52%;
        margin:0px;
        padding:5%;
        padding-left: 10%;
        background: -webkit-linear-gradient(#B4B4FF, #B1B1FE, #5154E7);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    div {
        display: flex;
        flex-direction: row;
        padding-left: 10%;
        padding-right: 10%;

        p{
            width: 50%;
            font-size: 1.2vw;
        }

        p:first-child {
            
            padding-right: 5%;
        }
    }
}