@import "../scss/navbar";
$paragraph-font-size-main: calc(0.7vw + 0.8vh + 0.45vmin);
$margin-left: 5%;
$margin-right: 5%;
$brightness: brightness(90%);

// --------------------------GLOBALS-----------------------

h1 {
  font-family: "poppins";
  font-style: "semiBold";
  font-size: 7vw;
  line-height: 100px;
  line-height: 52%;
  margin: 0px;
  padding: 5%;
  margin-left: 0px;
  background: -webkit-linear-gradient(160deg,#b4b4ff, #b1b1fe, #5154e7);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.persona {
    margin-top: 10%;
}
.persona-vheight {
    height: 70vh !important;
    margin-top: 5%;
}

.persona-p{
    margin-left: $margin-left;
    margin-right: $margin-right;
}

.vheight {
    height: 150vh;
}
.header-container {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;

  h3 {
    font-size: 1.7em;
  }
  img {
    width: 100%;
    height: 60vh;
    filter: $brightness;
  }

  .case-study {
    margin-left: $margin-left;
    margin-right: $margin-right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: $paragraph-font-size-main;
    .p-wrapper:first-child {
      width: 33%;
      
      p {
        width: 100%;
        font-size: $paragraph-font-size-main;
      }
    }

    .p-wrapper:nth-child(2) {
      width: 33%;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        margin-top: 0px;
        margin-left: 40px;
        width: 30%;
        font-size: $paragraph-font-size-main;

      }
    }

    .p-wrapper:last-child {
      width: 33%;
      direction: rtl;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      p {
        font-size: $paragraph-font-size-main;

      }
    }
  }
}

.section-container {
  box-sizing: border-box;
  height: 100vh;
  
  div {
    display: flex;
    flex-direction: row;
    padding-left: $margin-left;
    padding-right: $margin-right;
    
    p {
      width: 50%;
      font-size: $paragraph-font-size-main;
    }

    p:first-child {
      padding-right: 5%;
    }
    img {
      width: 50%;
    }
  }
}

.section-audience-research {
  box-sizing: border-box;

  h4{
    margin-left: $margin-left;
    width: 60vw;
    font-size: $paragraph-font-size-main;
  }

  p {
    margin-left: $margin-left;
    margin-right: $margin-right;
    margin-bottom: 5%;
    font-size: $paragraph-font-size-main;
  }

  .audience-wrapper {
    display: flex;
    flex-direction: row;
    margin-left: $margin-left;
    margin-right: $margin-right;

    .left-side {
      padding-right: 0px;
      flex-direction: column;

      p {
        margin: 0px;
        font-size: $paragraph-font-size-main;
      }
    }

    .right-side {
      display: flex;
      align-items: flex-end;
      p {
        margin: 0px;
        margin-left: 5%;
        font-size: $paragraph-font-size-main;
      }
    }
  }
}

.section-pain {
    
    p {
    margin-left: $margin-left;
    margin-right: $margin-right;
    font-size: $paragraph-font-size-main;
    }

    h3 {
        font-size: 2vw;
        margin-top: 5%;
        margin-left: $margin-left;
        background: -webkit-linear-gradient(160deg,#5154e7, #b1b1fe, #b4b4ff);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
    }

    .img-container{
        display: flex;
        flex-direction: row;
        height: 80vh;
        margin-left: $margin-left;
        margin-right: $margin-right;
        gap:5%;
        div:first-child {
            
            img {
                width: 100%;
                align-items: flex-end;
                filter: $brightness;
            }
        }
        div:last-child{
            display: flex;
            align-items: center;
            img {
                width: 100%;
                margin-bottom: 5%;
                filter: $brightness;

            }
        }
    }
}

.section-solution {

    h4 {
        margin-bottom: 0px;
        margin-left: $margin-left;
    }
    
      div {
        display: flex;
        flex-direction: row;
        padding-left: $margin-left;
        padding-right: $margin-right;
        
        p {
          width: 50%;
          font-size: $paragraph-font-size-main;
        }
    
        p:first-child {
          padding-right: 5%;
        }
        img {
          width: 50%;
          

        }
      }
}

.section-persona {
    h4 {
        margin-bottom: 0px;
        margin-left: $margin-left;
        
    }
    
    div {
        display: flex;
        flex-direction: row;
        margin-left: $margin-left;
        margin-right: $margin-right;
        
        p {
            
          width: 50%;
          font-size: $paragraph-font-size-main;
        }
    
        p:first-child {
          padding-right: 5%;
        }
        img {
          width: 50%;
          
        }
      }
}

.section-journey {
    margin-left: $margin-left;
    margin-right: $margin-right;
    font-size: $paragraph-font-size-main;
    span {
        font-weight: 600;
    }
}

.section-wireframes {
    
  div {
    display: flex;
    flex-direction: row;
    p {
        font-size: $paragraph-font-size-main;
    }
    span {
        font-weight: 600;
    }
    div:first-child {
        
        margin-left: $margin-left;
        width: 50%;
        flex-direction: column;
        img {
            width: 95%;
            filter: $brightness;           
        }
        p {
            width:80%;
        }

        
    }
    div:last-child {
        margin-right: $margin-right;
        width: 50%;
        flex-direction: column;
        h4 {
            margin-left: 5%;
        }
        p{
            margin-left: 5%;
            margin-bottom: 0px;
            margin-top: 0px;
            font-size: $paragraph-font-size-main;
        }
        ol{
          display: inline-block;
          margin: 0px;
          font-size: $paragraph-font-size-main;
          margin-bottom: 5px;
          margin-top:-5px;
          li{
            margin-left: 6%; 
            min-height: 30px;     
            max-height: 25px;
          }
        }
        img {
            width: 95%;
            margin-left: 5%;
            filter: $brightness;

        }
    }
  }
}

.section-create-workflow {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  div:first-child {
    
    .left-images {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      align-items: center;
      width: 100%;
      height:200px;
      background-color: #b1b1fe;

      svg{
        background-color: transparent;
      }

      .plus-sign {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        margin: 0px;
        svg{

        }
      }
    }

    .left-images:last-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      
    }
    margin-left: $margin-left;
    width: 50%;
    flex-direction: column;
    img {
        width: 95%;
        filter: $brightness

    }
    p {
        
        margin-bottom: 0px;
        margin-top: 0px;
        width:80%;
        
    }

  }
  div:last-child {
    margin-right: $margin-right;
    width: 50%;
    flex-direction: column;
    span {
      font-weight: 600;
    }
    p{
        margin-left: 5%;
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: $paragraph-font-size-main;
    }
    
    img {
        width: 95%;
        margin-left: 5%;
        filter: $brightness
    }
  }  
}

.section-details-dashboard{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 20px;
  h4 {
    margin-left: 5%;
    // margin:0px
  }
  div{
    display: flex;
    flex-direction: row;
    div:first-child {
     
      margin-left: $margin-left;
      width: 50%;
      flex-direction: column;
      
      img {
          width: 95%;
          filter: $brightness;           
      }
      p {
          margin: 0px;
          width:90%;
          font-size: $paragraph-font-size-main;
      }
  
      
  }
    div:last-child {
      margin-right: $margin-right;
      width: 50%;
      flex-direction: column;
      
      p{
          margin-bottom: 0px;
          margin-top: 0px;
          font-size: $paragraph-font-size-main;
      }
      ol{
        display: inline-block;
        margin: 0px;
        font-size: $paragraph-font-size-main;
        margin-bottom: 5px;
        margin-top:-5px;
        li{
          margin-left: 6%; 
          min-height: 30px;     
          max-height: 25px;
        }
      }
      img {
          width: 95%;
          margin-left: 5%;
          filter: $brightness;
  
      }
  }
  }
  

}
