@import "../scss/navbar";
h4 {
    margin-left: 10%;
  }
.header-container {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;

  h3 {
    font-size: 1.7em;
  }
  img {
    width: 100%;
    height: 70vh;
  }

  .case-study {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .p-wrapper:first-child {
      width: 33%;
      
      p {
        width: 100%;
      }
    }

    .p-wrapper:nth-child(2) {
      width: 33%;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        margin-top: 0px;
        margin-left: 40px;
        width: 30%;
      }
    }

    .p-wrapper:last-child {
      width: 33%;
      direction: rtl;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.section-container {
  box-sizing: border-box;
  height: 100vh;

  h1 {
    font-size: 7vw;
    font-family: "poppins";
    font-style: "semiBold";
    line-height: 100px;
    line-height: 52%;
    margin: 0px;
    padding: 5%;
    padding-left: 10%;
    background: -webkit-linear-gradient(160deg,#b4b4ff, #b1b1fe, #5154e7);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  div {
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    
    p {
      width: 50%;
      font-size: 1.2vw;
    }

    p:first-child {
      padding-right: 5%;
    }
    img {
      width: 50%;
    }
  }
}

.section-audience-research {
  box-sizing: border-box;

  h1 {
    font-family: "poppins";
    font-style: "semiBold";
    font-size: 7vw;
    line-height: 100px;
    line-height: 52%;
    margin: 0px;
    padding: 5%;
    padding-left: 10%;
    background: -webkit-linear-gradient(160deg,#b4b4ff, #b1b1fe, #5154e7);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
  }

  .audience-wrapper {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;

    .left-side {
      padding-right: 0px;
      flex-direction: column;

      p {
        margin: 0px;
      }
    }

    .right-side {
      display: flex;
      align-items: flex-end;
      p {
        margin: 0px;
        margin-left: 5%;
      }
    }
  }
}

.section-pain {
    h1 {
        font-family: "poppins";
        font-style: "semiBold";
        font-size: 7vw;
        line-height: 100px;
        line-height: 52%;
        margin: 0px;
        padding: 5%;
        padding-left: 10%;
        background: -webkit-linear-gradient(160deg,#b4b4ff, #b1b1fe, #5154e7);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

    p {
    margin-left: 10%;
    margin-right: 10%;
    }

    h3 {
        margin-top: 5%;
        margin-left: 10%;
        background: -webkit-linear-gradient(160deg,#b4b4ff, #b1b1fe, #5154e7);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
    }

    .img-container{
        display: flex;
        flex-direction: row;
        height: 80vh;
        margin-left: 10%;
        margin-right: 10%;
        gap:5%;
        div:first-child {
            
            img {
                width: 100%;
                align-items: flex-end;
               
            }
        }
        div:last-child{
            display: flex;
            align-items: center;
            img {
                width: 100%;
                margin-bottom: 5%;
               

            }
        }
    }
}
