.header {
    margin: 5%;
    width: 60vw;
}

.pruduct-card {
    // height: 30vh;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;

    .left-card-container-1 {
        width: 33%;   
        height: 20%;
        background-color: #B4B4FF;
        border-radius: 8px;
        img {
            border-radius: 8px;
            display: flex;
            width: 100%;
            height: 100%;
        }
    }
    .right-card-container-1 {  
        display: flex;
        width: 67%;
        // background-color: grey;
        align-items: center;
        justify-content: flex-start;

        p {
            margin-left: 10%;
        }
    }
}

.pruduct-card {
    .left-card-container-2 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 67%;
        // background-color: grey;
        p {
            margin-right: 10%;
        }
    }
    .right-card-container-2 {    
        width: 33%;   
        height: 20%;
        border-radius: 8px;

        img {
            border-radius: 8px;

            display: flex;
            width: 100%;
            height: 100%;
        }
    }
}

// .pruduct-card {
//     .left-card-container-3 {
//         width: 33%;   
//         height: 20%;
//         background-color: grey;
//         img {
//             display: flex;
//             width: 100%;
//             height: 100%;
//         }
//     }
//     .right-card-container-3 {    
//         display: flex;
//         width: 67%;
//         // background-color: grey;
//         align-items: center;
//         justify-content: flex-end;

//         p {
//             margin-right: 10%;
//         }
//     }
// }

